html{
    overflow-x: hidden;
}

#PageColour{
    background-color: #C6C6C6;
    overflow-x: hidden;
}





@media all  and (Max-width: 2000px ) {

    #fileChoseCol{
        margin-top: -168px;
    }

}
@media all  and (Max-width: 1200px ) {
    #manageItemCol{
        margin-top: 115px;
    }
    #fileChoseCol{
        margin-top: -550px;
    }
    #itemBtnCol{
        top: -443px;
    }
}

@media all  and (Max-width: 1200px ) {

    #fileChoseCol{
        margin-top: -546px;
    }

}
@media all  and (Max-width: 576px ) {
    #manageItemCol{
        margin-top: 196px;
    }
    #fileChoseCol{
        margin-top: -486px;
    }
    #itemBtnCol{
        top: -420px;
    }
}
